body{
    background-color:rgb(0, 0, 0);
    font-family: Arial, Helvetica, sans-serif;
    color: hsl(0, 0%, 100%);
    margin: 120px;
    text-align:center;
}

h1 {
    border:10px;
    background-color:blue;

}

p, ul, ol, table{
    line-height: 1.5;
    text-align:left;
    max-width: 700px;
    margin: 0 auto 1em auto;
}

ul, ol {
    padding-left:50px;
}

table {
    background-color:white;
    color:brown;
    margin: 0 auto 10px auto;
}